* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    background-image: url(./IMG/download.jpg);


  }

  a {
  
    text-decoration: solid;
   
  }

  #container {
    margin: 30px auto;
    max-width: 400px;
    padding: 20px;
    

  }

  .form-wrap {
    background-color: #CCD1D1;
    padding: 15px 25px;
    color:black;
    border-radius: 5px;
  }



  .form-wrap h1,
  .form-wrap p {
   text-align: center;
   color: #212F3D
  }

  .form-wrap .form-group {
    margin-top: 10px;
  }

  .form-wrap .form-group label {
    color: #212F3D;
    display: block;

  }

  .form-wrap .form-group input {
    width: 100%;
    padding: 10px;
    border: #283747 1px solid;
    border-radius: 5px;
    margin-top: 5px;
  }

  .form-wrap button {
    display: block;
    padding: 8px;
    max-width: 300px;
    margin: 15px auto;
    width: 80%;
    cursor: pointer;
    border: 1px solid grey;

  }


  .form-wrap button:hover {
    background-color:#b3c7dc ;
  }

  .form-wrap .bottom-text {
    font-size: 12px;
    margin-top: 15px;
    
  }
  
  .form-wrap .bottom-text a {
    color: #212F3D;

    
  }
  
  .form-wrap .bottom-text a:hover {
    color: rgb(243, 180, 63);

    
  }

  


  footer {
    text-align: center;
    margin-top: 10px;
    color: #c9ced3;
  }
  



  footer a {
    margin-top: 10px;
    color: #c9ced3;

  }
  footer a:hover{
    color: rgb(241, 183, 74);
  }

    

